@using Eshop.Application.Extensions
@using Eshop.Application.Utils
@model List<Eshop.Data.Entities.Common.Banner>
@{
    ViewData["Title"] = "مدیریت بنر ها";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست رنگ ها</h4>
            </div>
            <div class="card-body">
                <div class="row mb-4 justify-content-start">
                    <div class="">
                        <a asp-area="Admin" asp-controller="Common" asp-action="CreateBanner" class="btn btn-success">
                            <i class="bx bx-plus font-size-16 align-middle me-2"></i>افزودن آیتم
                        </a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    @if (Model.Any())
                                                    {
                                                        var index = 1;
                                                        <div class="table-responsive px-3">
                                                            <table class="table align-middle table-nowrap">
                                                                <tbody>
                                                                    <tr class="table-header-row">
                                                                        <th style="border-radius: 0 10px 10px 0">#</th>
                                                                        <th>تصویر</th>
                                                                        <th>عنوان</th>
                                                                        <th>ترتیب</th>
                                                                        <th>موقعیت</th>
                                                                        <th>لینک</th>
                                                                        <th style="border-radius: 10px 0 0 10px">عملیات</th>
                                                                    </tr>
                                                                    @foreach (var banner in Model.OrderByDescending(b => b.CreateDate))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @index)
                                                                            </td>
                                                                            <td>
                                                                                <div class="banner-image-thumb">
                                                                                    <img src="@(PathExtension.BannerThumb + banner.ImageName)" alt=""/>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div>
                                                                                    <p class="mb-0">@banner.Title</p>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div>
                                                                                    <p>@banner.Order</p>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div>
                                                                                    <p>@banner.BannerLocation.GetEnumName()</p>
                                                                                </div>
                                                                            </td>
                                                                            
                                                                            <td>
                                                                                <div>
                                                                                    <p>@banner.Url.LongString40()</p>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="action-links">
                                                                                    <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Common"
                                                                                       asp-action="EditBanner" asp-route-bannerId="@banner.Id">ویرایش </a>
                                                                                    <a class="btn btn-danger btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-@banner.Id">حذف</a>

                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        index++;
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-primary" role="alert">
                                                            <p class="mb-0">دیتایی یافت نشد.</p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <!-- Static Backdrop Modal -->
        <div class="modal fade" id="deleteModal-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">تایید حذف</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                    </div>
                    <div class="modal-body">
                        <p>آیا از حذف @item.Title مطمئن هستید ؟</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">خیر</button>
                        <a asp-area="Admin" asp-controller="Common" asp-action="DeleteBanner"
                           asp-route-bannerId="@item.Id" class="btn btn-primary">بله</a>
                    </div>
                </div>
            </div>
        </div>
    }
}