@using Eshop.Application.Extensions
@using Eshop.Application.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Eshop.Data.DTOs.OrderDto.FilterOrderDto
@{
    ViewData["Title"] = "سفارشات من";
}

<form asp-area="User" asp-controller="Order" asp-action="FilterOrders" id="filter-data-form" method="get">
    <input asp-for="PageId" type="hidden" />
    <input asp-for="FilterOrderState" type="hidden" />
    <section class="content">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    @await Component.InvokeAsync("UserMenu")
                    <div class="col-xl-9">
                        <div class="section-title-title">
                            <h2 class="fw-900 h4">
                                آخرین<span class="with-highlight ms-1">سفارشات</span>
                            </h2>
                            <div class="Dottedsquare"></div>
                        </div>
                        <div class="content">
                            <div class="alert slider-parent bg-white mt-3 shadow-box rounded-4">
                                <div class="row">
                                    @if (Model.Data.Any())
                                    {
                                        <div class="col-12">
                                            <div class="panel-latest-order">
                                                <div class="table-responsive roundedTable p-0">
                                                    <table class="table table-bordered main-table rounded-0">
                                                        <tbody>
                                                            @foreach (var order in Model.Data.OrderByDescending(o => o.CreateDate))
                                                            {
                                                                <tr>
                                                                    <td colspan="4" class="align-middle">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="mb-0 text-muted font-15">کد سفارش</p>
                                                                            <p class="mb-0 ms-2 font-12 fw-bold">@order.Id</p>
                                                                        </div>
                                                                    </td>
                                                                    <td class="lg-only">
                                                                        <p class="mb-0 text-muted mt-2 font-14">@order.PaymentDate.ToShamsi()</p>
                                                                    </td>
                                                                    <td colspan="4" class="align-middle lg-only">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="mb-0 text-muted font-15">مبلغ</p>
                                                                            <p class="mb-0 ms-2 fw-bold font-14">@order.TotalPrice.ToRial()</p>
                                                                        </div>
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <p class="mb-0 fw-bold mt-2 font-14">
                                                                            <i class="bi bi-check-circle-fill me-1 main-color-three-color"></i>
                                                                            @order.OrderState.GetEnumName()
                                                                        </p>
                                                                    </td>
                                                                    <td colspan="2" class="align-middle">
                                                                        <div class="text-center">
                                                                            <a asp-area="User" asp-controller="Order" asp-action="OrderDetail" asp-route-orderId="@order.Id"
                                                                               class="btn main-color-one-bg">مشاهده</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12">
                                            <div class="alert alert-info">
                                                <p class="mb-0">سفارشی موجود نیست !</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
