@using Eshop.Data.Entities.ProductEntities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Eshop.Data.DTOs.ProductDto.EditProductVariantDto
@{
    ViewData["Title"] = "ویرایش موجودی محصول";
    var productId = (long)ViewData["ProductId"];
    var colors = (List<ProductColor>)ViewData["Colors"]!;
    var colorIndex = 1;
}

<div class="row">
    <div class="col-lg-12">
        <div id="addproduct-accordion" class="custom-accordion">
            <div class="card">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar">
                                <div class="avatar-title font-size-16 rounded-circle bg-soft-primary text-primary">
                                    01
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h5 class="font-size-16 mb-1">@ViewData["Title"]</h5>
                            <p class="text-muted text-truncate mb-0">لطفا فرم زیر را پر کنید</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="p-4 border-top">
                        <form asp-area="Admin" asp-controller="Product" asp-action="EditVariant" asp-route-productId="@productId" 
                              method="post" id="variantsForm">
                            <input type="hidden" asp-for="VariantId"/>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table" id="variantsTable" style="min-width: 800px">
                                            <thead>
                                                <tr class="table-header-row">
                                                    <th class="radius-td-right">رنگ</th>
                                                    <th>تعداد</th>
                                                    <th>قیمت (اختیاری)</th>
                                                </tr>
                                            </thead>
                                            <tbody id="variantsBody">
                                                <tr>
                                                    <td>
                                                        <select asp-for="ColorId" class="form-select">
                                                            <option value="">-- انتخاب رنگ --</option>
                                                            @foreach (var color in colors)
                                                            {
                                                                <option value="@color.Id">@color.Title</option>
                                                            }
                                                        </select>
                                                    </td>

                                                    <td><input asp-for="StockCount" class="form-control" /></td>
                                                    <td><input asp-for="Price" id="currencyInput" class="form-control" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p id="formMessage" class="text-danger my-3" style="display: none"></p>
                                </div>
                                <div class="col-12 mb-3">
                                    <a data-bs-toggle="modal" data-bs-target="#colorsModal" class="btn btn-info" href="#">رنگ ها</a>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <button class="btn btn-success"> <i class="mdi mdi-file-document-outline me-1"></i>ذخیره</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Colors Modal-->
<div class="modal fade" id="colorsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">رنگ ها</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body">
                @foreach (var color in colors)
                {
                    <div class="mb-2">
                        <div class="items-around">
                            <div>@colorIndex) @color.Title</div>
                            <div>
                                <div class="create-variant-color-list" style="background: @color.ColorCode"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    colorIndex++;
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section AdminFooterSection
{
    <script>
        document.getElementById("variantsForm").addEventListener("submit", function (e) {
            const inputs = this.querySelectorAll("input");
            const selects = this.querySelectorAll("select");
            const messageElement = document.getElementById("formMessage");
            let isValid = true;

            inputs.forEach(input => {
                if (!input.value.trim()) {
                    isValid = false;
                    input.style.border = "2px solid red";
                } else {
                    input.style.border = "";
                }
            });

            selects.forEach(select => {
                if (!select.value.trim()) {
                    isValid = false;
                    select.style.border = "2px solid red";
                } else {
                    select.style.border = "";
                }
            });

            if (!isValid) {
                e.preventDefault();
                messageElement.textContent = "فرم شامل ورودی ای بدون مقدار می باشد.لطفا فرم را به طور کامل پر کنید";
                messageElement.style.display = "block";
            } else {
                messageElement.style.display = "none";
            }
        });

        // Price input Formatter
        function formatNumber(value) {
            if (!value) return "";
            return Number(value).toLocaleString("en-US");
        }

        document.addEventListener("DOMContentLoaded", function () {
            const input = document.getElementById("currencyInput");

            input.value = formatNumber(input.value);

            input.addEventListener("input", function () {
                const cursorPosition = this.selectionStart;
                const rawValue = this.value.replace(/\D/g, "");
                const formattedValue = formatNumber(rawValue);

                this.value = formattedValue;

                const diff = formattedValue.length - rawValue.length;
                this.setSelectionRange(cursorPosition + diff, cursorPosition + diff);
            });
        });
    </script>
}
